body {
	background-image: url(body.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 100% 100%;
}
.wrapper {
    width: auto;
    margin: auto;
    position: relative;
}
.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: transparent;
    z-index: 1;
    border-bottom:1px solid grey;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
	background-color: yellow;
    text-decoration: underline;
}
h2{
	color: yellow;
}
p{
	color: yellow;
}
#home{
	background-image: url(home.jpg);
	background-size: cover;
	width: auto;
	height: 600px;
	border-radius: 20px;
	margin-bottom: 50px;
}
#about{
	background-color: grey;
	width: auto;
	height: 600px;
	border-radius: 20px;
	margin-bottom: 50px;
}
#lokasi{
	background-color: grey;
	width: auto;
	height: 600px;
	border-radius: 20px;
	margin-bottom: 50px;
}
#fakta{
	background-color: grey;
	width: auto;
	height: 600px;
	border-radius: 20px;
	margin-bottom: 50px;
}
