body {
	background-image: url(body.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 100% 100%;
}
.wrapper {
    width: auto;
    margin: auto;
    position: relative;
}
.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: grey;
    z-index: 1;
    border-bottom:1px solid grey;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: yellow;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
	background-color: yellow;
    text-decoration: underline;
}
h2{
	color: white;
	font-family: roboto;
}
p{
	color: white;
	font-family: sans-serif;
}
#home{
	background-image: url(home.jpg);
	background-size: cover;
	width: auto;
	height: 400px;
	border-radius: 20px;
	margin-bottom: 20px;
}
#about{
	background-color: transparent;
	width: auto;
	height: 500px;
	border-radius: 20px;
	margin-bottom: 20px;
}
#lokasi{
	background-color: transparent;
	width: auto;
	height: 500px;
	border-radius: 20px;
	margin-bottom: 20px;
}
#fakta{
	background-color: transparent;
	width: auto;
	height: 500px;
	border-radius: 20px;
	margin-bottom: 20px;
}
#fakta{
	font-weight : bold;
}
.kartu-tutor{
   border-width: 5px;
   border-style: solid;
   border-top-color: red;
   border-bottom-color: blue;
   border-right-width: 0px;
   border-left-width: 0px;
}
